
  <% broadcast "/poker/#{@cast.id}" do %>
    $(".user_<%= @cast.comments.size()-1 %>").html("<img src='<%= @current_user.avatar_type(:small) %>' />");
    $("#zjh_reports").append("<li><font color='green'><%= @current_user.name  %>已上桌...</li>");
  <% end %>
  $(".room_status").html("游戏等待中..."); 
  $("#poker_btn").show();

<% if @comment.errors.blank? %>
  var html = '<div class="alert alert-success"><button class="close" data-dismiss="alert" type="button">×</button><%= flash[:notice_comment] %></div>';
  $("#cmt_area").append("<%= escape_javascript(render(:partial => "comment", :locals => { :comment => @comment })) %>");
  $("#comment_content").val("");
<% else %>
  var html = '<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button><%= @comment.errors[:content][0].to_s %></div>';
<% end %>
$("#msg").html(html);

