
<% if @play == 1 %>
  <% broadcast "/poker/#{@cast.id}" do %>
    $("#zjh_reports").append("<li>[<%= Time.now.strftime("%H:%M:%S") %>] <font color='blue'><%= @current_user.name %> 已<%= @sort == 0 ? "上" : "跟" %><%= @score %>金币.</li>");
    $("#score").html(parseInt($("#score").text())+<%= @score %>);
    $("#play_sort").val(<%= @next_sort %>);
    $("#play_score").val(<%= @score %>);
  <% end %>
  <% broadcast "/user/#{@cast.partner(@sort).id}" do %>
    $(".poker_op").hide();
    $(".poker_open").hide();
  <% end %>
  <% broadcast "/user/#{@cast.partner(@next_sort).id}" do %>
    $(".poker_op").show();
    <% if @cast.comments.size() == 2 %>
      $(".poker_open").show();
    <% end %>
  <% end %>
<% else %>

<% end %>
