
<% content_for :title do %>
上传头像
<% end %>

<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
  function jcrop_init(){
  $('#cropbox').Jcrop({
onChange: update_crop,
onSelect: update_crop,
setSelect: [0, 0, 100, 100],
aspectRatio: 1
});
}

function update_crop(coords) {
  var rx = <%= User::AVATAR_SW %>/coords.w;
  var ry = <%= User::AVATAR_SH %>/coords.h;
  var ratio = $("#img_w").val() / $('#cropbox').width();
  $('#preview').css({
width: Math.round(rx * $('#cropbox').width()) + 'px',
height: Math.round(ry * $('#cropbox').height()) + 'px',
marginLeft: '-' + Math.round(rx * coords.x) + 'px',
marginTop: '-' + Math.round(ry * coords.y) + 'px'
});
$("#crop_x").val(Math.round(coords.x * ratio));
$("#crop_y").val(Math.round(coords.y * ratio));
$("#crop_w").val(Math.round(coords.w * ratio));
$("#crop_h").val(Math.round(coords.h * ratio));
}
</script>
<% end%>


<ul class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a><span class="divider">/</span></li>
  <li class="active">Avatar Crop</li>
</ul>

<div class="profile span9">
  <legend>修改用户头像</legend>
  <%= render "casts/up_qiniu" %>
  <%= hidden_field_tag :img_w, 0 %>
  <%= hidden_field_tag :img_h, 0 %>
  <img src="<%= @user.avatar_type(:small) %>" class="hidden" id="img_src">
  <img src="<%= @user.avatar_type(:small) %>" class="hidden" id="img_original">

  <div id="crop_area" class="hide">
  <div class='span5 '>
    拖动图片中的方框进行裁剪
    <div>
      <%= image_tag @user.avatar_type(:small), :id => 'cropbox' %>
    </div>
    <div>
      <%= form_tag url_for(controller: 'users',action: 'avatar_save'), :class => "form-horizontal" do %>
        <%= hidden_field_tag :id, @user.id %>
        <%= hidden_field_tag :url %>
        <div class="control-group">
          <label class="control-label" for="user_name"></label>
          <div class="controls">
            <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
              <%= hidden_field_tag attribute, '', :id => attribute %>
            <% end %>
          </div>
        </div>
        <div class="form-actions">
          <%= submit_tag "裁剪", :class => "btn btn-primart" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='span2' style="margin-top:0px;">
    这是你在网站的头像图标
    <div id="div-preview" style="overflow:hidden;width:<%= User::AVATAR_SW %>px;height:<%= User::AVATAR_SH %>px">
      <%= image_tag @user.avatar_type(:small), :id => "preview" %>
    </div>
  </div>
  </div>


</div>

<script type="text/javascript" charset="utf-8">
  
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#videoupload').fileupload({
        multipart: true,
        url: "http://up.qbox.me/upload",
        dataType: "json",
        add: function(e,t){
          var n,r;
          return r=/(\.|\/)(jp?g|bmp)$/i,n=t.files[0],r.test(n.type)||r.test(n.name)?(t.context=$(tmpl("template-upload",n)),$("#fileupload-area").html(t.context),t.submit()):alert("只支持JPEG JPG BMP格式")
        },
        progress: function(e,t){
          var progress = parseInt(t.loaded / t.total * 100, 10);
          $('.progress .bar').css('width',progress + '%');
          $('.progress .bar').html("<font color='green'>" + progress + "%</font>");
        },
        done: function(e,t){
          $('.progress .bar').css('width',100 + '%');
          $('.progress .bar').html("<font color='green'>" + 100 + "%</font>");
          $('#url').val("<%= @upload_key %>");
          $('#img_original').attr("src", "<%= get_avatar @upload_key %>");
          $('#img_original').load(function(){
            $('#cropbox').attr("src", "<%= get_crop_avatar @upload_key %>");
            $('#preview').attr("src", "<%= get_crop_avatar @upload_key %>");
            $('#img_h').val(this.height);
            $('#img_w').val(this.width);
            $('#videoupload').hide();
            $('#crop_area').show();
            jcrop_init();
          });
        }
      });    
  });

</script>



<div class="rsidebar">
  <h5 class="rsidebar_title">友情提示</h5>
  <div class="rsidebar_content">
    <div class="user_hint">1）上传本地图片，支持JPG JPEG BMP格式</div>
    <div class="user_hint">2）图片上传成功后，在图片预览处拖动方框进行头像选取</div>
    <div class="user_hint">3）头像选取后，单击裁剪按钮完成头像的裁剪功能</div>
  </div>
</div>
