<% content_for :title do %>
  首页 
<% end %>

<ul class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a><span class="divider">/</span></li>
  <li class="active"><%= @room.title %></li>
</ul>

<% if flash[:notice] %>
  <div class='alert alert-success'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>

  <div class="alert alert-success" style="text-align:center; margin:10px 0px 20px;">
    软件041的骚年们，一起来玩游戏吧。。。
    <p>PS: 对于多种退出方式(如：关闭浏览器 跳转其他页面 关电脑等)，目前还未找到好的退出检测方法，请点击"退出"按钮退出游戏，否则 你懂的...</p>
  </div>

  <div class="profile span6">

  <div class="room">
    <%= hidden_field_tag :room_id, @room.id %>
    <% 0.upto(5) do |index| %>
      <div class="user_<%= index %>">
        <% if @room.max_seat > index %>
          <%= render :partial => "seat", :locals => {:seat => @room.seat(index), :index => index } %>
        <% end %>
      </div>
    <% end %>

    <div class="desktop">
      <div class="zjh_score">
        桌面分数: <font id="score">0</font>
      </div>
    </div>

  </div>

  <div id="poker_btn" class="operator">
    <ul>
      <li class="poker_start hide"><div class="btn">准备</div></li>
      <li class="poker_play  hide"><div class="btn">出牌</div></li>
      <li class="poker_pass  hide"><div class="btn">不出</div></li>
      <li class="poker_exit  hide"><div class="btn">退出</div></li>
    </ul>
  </div>

    <h6 id="poker_title" class="hide" style="margin: 80px 200px 20px;">以下为你这局的牌：</h6>
    <div id="poker_area" class="operator">
    </div>

    <p></p>
    
    <div class="room_status">
      <%= @room.state_msg %>
      <p></p>
    </div>

  </div>

  </div>


<div class="rsidebar">
  <h5 class="rsidebar_title">游戏实况实时报道</h5>
  <div class="rsidebar_content">
    <ul id="zjh_reports">
    </ul>
    <ul id="zjh_chat" class="hide">
    </ul>
  </div>
</div>

<script type="text/javascript">
  var faye = new Faye.Client('http://pfaye.herokuapp.com/faye');
  faye.subscribe("/room/<%= @room.id %>", function(data){
    eval(data);
  });
  faye.subscribe("/room/<%= @room.id %>/user/<%= current_user.id %>", function(data){
    eval(data);
  });
</script>

