
  <%= form_tag "http://up.qbox.me/upload", :multipart => true, :id => "videoupload", :class => "simple_form form-horizontal" do %>
    <fieldset>
      <%= hidden_field_tag :auth, @upload_auth %>
      <%= hidden_field_tag :action, @upload_action %>
      
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="control-group" id="fileupload-choose-area">
        <%= label_tag :title, "上传文件", :class => "control-label" %>
        <div class="controls">
          <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>选择文件</span>
            <input id="up_v" value="" name="file" type="file" />
          </span>
        </div>
      </div>
      <!-- The loading indicator is shown during image processing -->
      <div class="controls">
        <div class="files" id="fileupload-area"></div>
        <div class="files"><font color="red"><%= @cast.nil? ? @user.errors[:url][0].to_s : @cast.errors[:url][0].to_s %></font></div>
      </div>
    </fieldset>
  <% end %>



<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
</script>

<script id="template-download" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
</script>



