<% content_for :title do %>
  首页 
<% end %>

<% if flash[:notice] %>
  <div class='alert alert-success'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>

  <div class="alert alert-success" style="text-align:center; margin:10px 0px 20px;">
    软件041的骚年们，一起来玩游戏吧。。。
    <p>PS: 对于多种退出方式(如：关闭浏览器 跳转其他页面 关电脑等)，目前还未找到好的退出检测方法，请点击"退出"按钮退出游戏，否则 你懂的...</p>
  </div>

  <div class="profile span6">

  <div class="room">

    <% 0.upto(5) do |index| %>
      <div class="user_<%= index %>">
        <img src="<%= @cast.partner(index).nil? ? "" : @cast.partner(index).avatar_type(:small) %>" />
        <%= @cast.partner(index).nil? ? "" : @cast.partner(index).name %>
        <p style="color: red"><%= @cast.partner(index).nil? ? "" : @cast.comments[index].active_msg %></p>
      </div>
    <% end %>

    <div class="desktop">
      <div class="zjh_score">
        累计金币: <font id="score">0</font>
      </div>
    </div>

  </div>

        <%= hidden_field_tag :room_id, @cast.nil? ? 0 : @cast.id %>
        <%= hidden_field_tag :play_sort, 0 %>
        <%= hidden_field_tag :play_score, 0 %>
  <div id="poker_btn" class="operator">
    <ul>
      <li class="poker_start hide"><div class="btn">开始</div></li>
      <li class="poker_out hide"><div class="btn">退出</div></li>
      <li class="poker_op hide"><div class="btn btn_score" id="1">1分</div></li>
      <li class="poker_op hide"><div class="btn btn_score" id="2">2分</div></li>
      <li class="poker_op hide"><div class="btn btn_score" id="5">5分</div></li>
      <li class="poker_op hide"><div class="btn btn_score" id="0">弃牌</div></li>
    </ul>
  </div>

    <h6 id="poker_title" class="hide" style="margin: 80px 200px 20px;">以下为你这局的牌：</h6>
    <div id="poker_area" class="operator hide">
    <ul>
      <li><div class="poker_img"><img id="poker_img_0" src="" /></li>
      <li><div class="poker_img"><img id="poker_img_1" src="" /></li>
      <li><div class="poker_img"><img id="poker_img_2" src="" /></li>
    </ul>
    </div>

    <p></p>
    <div class="room_status">
      <% if @cast.nil? || !@cast.active  %>
        游戏还未开始...
        <p></p>
        <% unless @cast.all_ready %>
          <%= form_for @cast.comments.new, url: cast_comments_path(@cast), remote: true do |f| %>
            <%= f.submit "点击加入", class: "btn btn-primary btn-block" %>
          <% end %>
        <% end %>
      <% else %>
        游戏正进行中...
      <% end %>
      </div>

  </div>

  </div>


<div class="rsidebar">
  <h5 class="rsidebar_title">游戏实况实时报道</h5>
  <div class="rsidebar_content">
    <ul id="zjh_reports">
    </ul>
    <ul id="zjh_chat" class="hide">
      <%= form_tag url_for(controller: "casts", action: "chat"), :remote => true do %>
        <%= hidden_field_tag :cast_id, @cast.id %>
        <textarea id="chats" class="input-xlarge" rows="3" name="chats" cols="40"></textarea>
        <%= submit_tag "发布", :style => "margin-top:55px" %>
      <% end %>
    </ul>
  </div>
</div>


