
<ul class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a><span class="divider">/</span></li>
  <li class="active">分享视播</li>
</ul>


<div class="profile span9">

  <legend>分享视播</legend>

  <%= render "up_qiniu" %>

  <%= form_for @cast, :html => { :id => "cast_share_form", :class => "simple_form form-horizontal" } do |f| %>
    <fieldset>

      <%= f.hidden_field :url %>

      <div class="control-group">
        <%= f.label :title, "标题", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title, :class => "text_field" %>
          <p style="color:red"><%= @cast.errors[:title][0].to_s %></p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, "价格", :class => "control-label" %>
        <div class="controls">
          <%= f.select :price, options_for_select({"免费" => 0 , "1￥" => 1, "5￥" => 5, "10￥" => 10}, 1) %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :free_time, "试看时间", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :free_time, :value => "10", :class => "text_field" %>
          <p style="color:red"><%= @cast.errors[:free_time][0].to_s %></p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :tag, "标签", :class => "control-label" %>
        <div class="controls">
          <%= f.hidden_field :tag %>
          <div class="textboxlist " >
            <ul class="textboxlist-bits">
              <li class="textboxlist-bit textboxlist-bit-editable">
              <input type="text" class="textboxlist-bit-editable-input" value="" style="width: 45px;display: none;">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit '确定', :id => "cast_share_btn", :class => 'btn btn-primary' %>
        <%= link_to '取消', casts_path, :class => 'btn' %>
      </div>

    </fieldset>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">

  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#videoupload').fileupload({
multipart: true,
url: "http://up.qbox.me/upload",
dataType: "json",
add: function(e,t){
var n,r;
return r=/(\.|\/)(mp4)$/i,n=t.files[0],r.test(n.type)||r.test(n.name)?(t.context=$(tmpl("template-upload",n)),$("#fileupload-area").html(t.context),t.submit()):alert("只支持mp4格式")
},
progress: function(e,t){
var progress = parseInt(t.loaded / t.total * 100, 10);
$('.progress .bar').css('width',progress + '%');
$('.progress .bar').html("<font color='green'>" + progress + "%</font>");
},
done: function(e,t){
$('.progress .bar').css('width',100 + '%');
$('.progress .bar').html("<font color='green'>" + 100 + "%</font>");
$("#cast_url").val("<%= @upload_key %>");   
}
});   

//点击外层显示框时 主动focus标签输入框
$("ul.textboxlist-bits").click(function(){
    $(".textboxlist-bit-editable-input").show();
    $(".textboxlist-bit-editable-input").focus();
    });
$("ul.textboxlist-bits").live('blur',function(){
    $(".textboxlist-bit-editable-input").hide();
    });
//输入完成后显示结果
$(".textboxlist-bit-editable-input").blur(function(){
    var tag = $(".textboxlist-bit-editable-input").val();
    if(tag.length==0)
    return;
    var new_tag = '<li class="textboxlist-bit textboxlist-bit-box textboxlist-bit-box-deletable">';
    new_tag += tag; 
    new_tag += '<a class="textboxlist-bit-box-deletebutton" href="#"></a></li>';
    $(new_tag).insertBefore($(".textboxlist-bit-editable"));
    $(".textboxlist-bit-editable-input").val('');
    init_tag();
    });
//动态生成的标签中 需要使用live委托事件
$("a.textboxlist-bit-box-deletebutton").live('click',function(){
    $(this).parent().remove();
    init_tag();
    });

function init_tag(){
  var tags = '';
  $(".textboxlist").children(".textboxlist-bits").children(".textboxlist-bit-box-deletable").each(function(){
      tags += $(this).text() + "-";
      });
  $("#cast_tag").val(tags);
}


});

</script>



<div class="rsidebar">
  <h5 class="rsidebar_title">友情提示</h5>
  <div class="rsidebar_content">
    <div class="user_hint">1）上传视频成功(100%)后再提交表单</div>
    <div class="user_hint">2）可选择视频的试看时间和金额</div>
    <div class="user_hint">3）最好添加标签，便于视频的查找</div>
  </div>
</div>
