<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ppst" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ppst" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application", "http://pfaye.herokuapp.com/faye.js" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">一起游戏吧</a>
          <div class="nav-collapse">
            

            <ul class="nav pull-right">
            
            <%= hidden_field_tag :current_user_id, sign_in? ? current_user.id : 0 %>              
            <% unless sign_in? %>
              <ul class="nav actions">
                <li><a href="<%= login_path %>" data-link="modal" data-target="#login-modal">Login</a></li>
                <li><a href="<%= signup_path %>" data-link="modal" data-target="#signup-modal">Sign up</a></li>
              </ul>
            <% else %>
              <li>
                <a href=""><span id="sys_msg" class="badge">0</span></a>
              </li>
              <li class="offset-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <img src="<%= current_user.avatar_type(:mini) %>" style="border-radius:50% 50% 50% 50%" /> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="<%= home_path %>"> <i class="icon-home"></i> 我的主页</a>
                  </li>
                  <li>
                    <a href="<%= user_path current_user %>"><i class="icon-wrench"></i> 个人信息</a>
                  </li>                   
                  <li>
                    <a href="<%= logout_path %>"><i class="icon-off"></i> 退出</a>
                  </li> 
                </ul>
              </li>
             <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <footer class="container">
      <hr>
      <div class="row">
        <div class="offset5 span2">
          <p><i class="icon-envelope"></i> lyu302@gmail.com</p>
        </div>
      </div>
    </footer>

  </body>
</html>
